@font-face {
    font-family: 'Quicksand';
    font-display: optional;
    src: url('/login-page/Quicksand-VariableFont_wght.woff2') format('woff2');
}

* {
    margin: 0;
}

html,
body {
    background-color: #eeeeee;
    font-family: 'Quicksand';
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: #25313F;
    padding: 0 30px;
    display: flex;
}

.header-title {
    color: #FFFFFF;
    font: normal normal bold 20px/18px 'Quicksand';
    margin-left: 5px;
}

.nav {
    text-align: right;
    letter-spacing: 0px;
    color: #3FD28B;
    text-transform: uppercase;
    margin: 0 16px;
    padding: 8px 0 4px 0;
    border-bottom: 4px solid #25313F;
}

.nav:hover {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
    cursor: pointer;
}

.profile>img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;
    border: #3FD28B 2px solid;
}

.menu{
    display: none;
}

.dashboard {
    margin-left: auto;
}

.main {
    margin: 24px;
}

.course-class-toggle {
    background-color: #8DDC97;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.courses-toggle,
.classes-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #222222;
    border-bottom: 4px solid #8DDC97;
}

.courses-toggle:hover,
.classes-toggle:hover {
    border-bottom: 4px solid #222222;
    cursor: pointer;
}

.courses-nos,
.classes-nos {
    font: normal normal bolder 24px/28px 'Quicksand';
    margin: 19px 8px 15px 8px;
}

.courses-toggle-label,
.classes-toggle-label {
    font: normal normal bold 16px/20px 'Quicksand';
}

.class-for-line {
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    margin-bottom: 24px;
}

.filter-panel {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
}

.showing-label {
    align-self: flex-end;
    font: normal normal bold 12px/14px 'Quicksand';
    letter-spacing: 0px;
    color: #686868;
}

.filter-div {
    display: flex;
}

.sort-by-label {
    font: normal normal bold 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #686868;
}

.courses-select {
    border: none;
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    width: 180px;
    background-color: #eeeeee;
    font: normal normal bold 16px/20px 'Quicksand';
    letter-spacing: 0px;
    color: #333333;
    margin-right: 24px;
}

.courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.course-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.course {
    display: flex;
}

.course-img {
    margin: 24px 16px 16px 24px;
}

.courses-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 24px 16px 0;
}

.line-1,
.line-2,
.line-3,
.line-4 {
    display: flex;
    margin: 7px 0 0 0;
}

.course-name {
    font: normal normal bold 16px/20px 'Quicksand';
    color: #222222;
    margin-right: auto;
}

.regular-course-label {
    font: normal normal bold 12px/16px 'Quicksand';
    color: #666666;
}

.pipe {
    margin: 0 5px;
    color: rgb(0, 0, 0, 0.12);
}

.plus {
    margin-left: 5px;
    color: #1F7A54;
}

.number-line-2 {
    font-weight: bolder;
    color: #222222;
    margin-right: 4px;
}

.course-class-input {
    font: normal normal bold 16px/20px 'Quicksand';
    color: #222222;
    border: none;
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    margin: 18px 0 13px 0;
}

.lm {
    margin-left: 4px;
}

.courses-icons {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 9px 20px;
    border-top: rgb(0, 0, 0, 0.12) 1px solid;
    margin: auto 24px 0 24px;
}

.courses-icons>img:hover,
.star:hover,
.sort:hover,
.contact:hover,
.about:hover {
    opacity: 0.4;
    cursor: pointer;
}

.contact-div {
    justify-content: center;
    display: flex;
    font: normal normal bold 14px/18px 'Quicksand';
    letter-spacing: 0px;
    color: #1F7A54;
    margin: auto 16px 16px 16px;
}

.pipe {
    color: #0000001F;
    margin: 0 5px;
}

.footer {
    background-color: #E0E1E1;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-quantum {
    font: normal normal bold 14px/18px 'Quicksand';
    color: #1F2834;
}

.footer-text {
    font: normal normal bold 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #616161;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name {
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {
    .courses-grid {
        grid-template-columns: 1fr;
    }

    .large-screen {
        display: none;
    }

    .bell{
        margin-left: auto;
    }

    .menu{
        display: block;
    }

    .footer-text{
        flex-direction: column;
    }
}